/* Yandex.Webmaster module styles */
.yandex_webmaster_external_link {
  background: url("images/link.png") no-repeat center 0;
  display: inline-block;
  height: 14px;
  text-indent: -9999px;
  width: 20px;
}
.yandex_webmaster_chart, .yandex_webmaster_remove {
  display: inline-block;
  height: 24px;
  outline: none;
  text-indent: -9999px;
  width: 36px;
}
.yandex_webmaster_actions {
  display: block;
}
.yandex_webmaster_host_state {
  display: inline-block;
  padding-left: 30px;
}
.yandex_webmaster_host_state.VERIFIED {
  background: url("images/verified.png") no-repeat 0 center;
}
.yandex_webmaster_host_state.VIRUSED {
  background: url("images/danger.png") no-repeat 0 center!important;
}
.yandex_webmaster_host_state.NEVER_VERIFIED {
  background: url("images/never.png") no-repeat 0 center;
}
.yandex_webmaster_host_state.VERIFICATION_FAILED {
  background: url("images/error.png") no-repeat 0 center;
}
.yandex_webmaster_host_state.IN_PROGRESS,
.yandex_webmaster_host_state.WAITING {
  background: url("images/wait.png") no-repeat 0 center;
}

.yandex_webmaster_hostname {
  display: inline-block;
  line-height: 1.2em;
}
.yandex_webmaster_hostname span {
  font-size: 80%;
  opacity: 0.7;
}
.yandex_webmaster_last_access span {
  font-size: 80%;
  opacity: 0.7;
}

#yandex-webmaster-config-form .edit-manual-verification-message {
  color: #900;
  font-size: 130%;
}

#yandex-webmaster-config-form .edit-add-new-host-message {
  color: #090;
  font-size: 130%;
}

.form-item-selector-options,
.form-item-selector-save {
  display: inline;
  padding-right: 20px!important;
}

/* Block styles */
.yandex-webmaster-stats .virused-site {
  color: #900;
  font-size: 130%;
}
.yandex-webmaster-stats .branding, #edit-branding .branding {
  background: url("images/logo.png") no-repeat right top;
  font-size: 80%;
  padding-top: 24px;
  text-align: right;
}
.yandex-webmaster-stats .branding-ru, #edit-branding .branding-ru {
  background: url("images/logo-ru.png") no-repeat right top;
}
#yandex-webmaster-config-form #edit-branding {
  position: absolute;
  right: 0;
}

#chart-statistics_chart { display: block; margin: 0 auto; }
